---
layout: fundamental
title: Pattern Library / Style Guide
---

<div class="patterns__site">

  <header class="patterns__header">
		<h1><span>Cronofy</span> Style Guide</h1>
		<p>This is a styleguide/pattern library with styled elements and shortcodes for the Cronofy website.</p>
  </header>

  <nav class="patterns__nav col-extra-light">
    <ul>
      {% for pattern in site.patterns %}
        <li><a href="#{{ site.baseurl }}{{ pattern.url }}">{{ pattern.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>


  {% for pattern in site.patterns %}
  <section id="{{ pattern.url }}" class="pattern">
    <header>
      <h2>{{ pattern.title }}</h2>
    </header>
    <div class="pattern__style">
      {% if site.markdown-patterns %}{{ pattern.content | markdownify }}{% else %}{{ pattern.content }}{% endif %}
    </div>
    <a href="#" class="patterns__top">Back to top</a>
  </section><!-- <?php echo '#' . $without_extension; ?>.pattern -->
  {% endfor %}

</div><!-- .patterns__site -->
